DISCORD_TOKEN=
DISCORD_GUILD_ID=
DISCORD_USER_ID=
DISCORD_CHANNEL_ID=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=
OPENAI_MODEL=
SQLITE_PATH=./nyan-go.db
REMINDER_ENABLED=false
REMINDER_TIME=20:30
REMINDER_COOLDOWN=24h

